@import url('https://fonts.googleapis.com/css2? famille = Rajdhani &family= Space+Grotesk:wght@300;400;500;600;700 & display=swap');
@font-face {
    font-family: 'Rajdhani' ;
    src: url(../Fonts/Rajdhani/Rajdhani-Medium.ttf);
}

h1 {
    color: red;
    font-family: 'rajdhani';
    font-weight: 400;
}