@import url('https://fonts.googleapis.com/css2? famille = Rajdhani &family= Space+Grotesk:wght@300;400;500;600;700 & display=swap');
@font-face {
    font-family: 'rajdhani' ;
    src: url(../Fonts/Rajdhani/Rajdhani-Medium.ttf);}

@font-face {
    font-family: 'Space Grotesk'; ;
    src: url(../Fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
}
h1 {
    color: red;
    font-family: 'rajdhani'; 
    font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --yellow-color: #FFFF00;
    --yellow-light: #f8f184;
    --blue-color: #19587d;
    --yellow-color: #FFF;
    --gradient-white: #eddebf67;
    --gradient-red: #890008;
    --black-color: #000000;
    --gradient-blue: #19587d70;
    --grey-color: #c4c4c450;




}
h1{
    font-family: 'rajdhani';
    font-size: 36px;
    font-weight: 400;
}
button{
    font-family: 'rajdhani';
    font-size: 20px;
    font-weight: 400;
}

.container {
    width: 80%;
    margin: 0 auto;
}


body {
    background-color: black;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;
    opacity: 0.8;
}

/*  Design de la navigation */

nav{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 40px;
padding-bottom: 20px;

}

nav ul {
    list-style: none;
    
}


nav ul a{
    color: var(--white-color);
    font-size: 25px;
    font-weight: 500;
    font-family: 'rajdhani';
    text-decoration: none;
}


nav ul a :hover {
    color: var(--yellow-color);
}

/*Design de la partie en tête her*/

#hero{
    background-image: url(../Illustrations/Bathome1.png);
    height: 800px;
    background-position: top center;
    background-repeat: no-repeat;

}

/*Design de la Section Batman character*/

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top:150px ;
}

#hero .titre{
    margin: 20px 0;
   
}

#hero .fleche{
    display: block;
    margin: 0 auto;
    margin-top: 400px;
}

.btn{
    
    text-decoration: none;
    color: var(--white-color);
    font-size: 22px;
    padding: 15px 20px;
    background: linear-gradient(80deg, var(--gradient-white), var(--gradient-red) );
    box-shadow: var(--black-color) 5px 5px 60px;
}

.content p{
    font-family: 'Space Grotesk';
}

.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 80px;
    top: 230px;


}

h1 {
    color: var(--white-color);
}
.scroll .social{
    margin-top:15px;

}

#bat-ciné, #bat-jl,#bat-némésis, #bat-alies{
    margin-top: 40px;
}

#bat-ciné .titre, #bat-jl .titre, #bat-némésis .titre, #bat-alies .titre {
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
}

#bat-ciné .description, #bat-jl .description, #bat-némésis .description, #bat-alies .description {
    margin-bottom: 40px;
    text-align: justify;
    width: 80%;
    font-size: 21px;
}

#bat-ciné .bat-item{
    text-align: center;
    
}

.bat-character{
    display: flex;
    justify-content: space-between;
}

.bat-ennemis{
    display: flex;
    justify-content: space-between;
}

.bat-alies{
    display: flex;
    justify-content: space-between;
}

/*design de multimedia*/


#multimedia .slider-multimedia {
    display: flex;
    width: 60%;
    margin: 40px auto;
    

}

#multimedia .slider-image{
    width: 100%;

}

#multimedia .slider-content{
  
    background: var(--grey-color);
    border-radius: 0 15px 15px 0;
    background: linear-gradient(160deg, var(--grey-color), var(--gradient-blue) );
    padding: 14px;
    box-shadow: 0 px 5 px 10 px 0 px rgba ( 255 , 255 , 255 , 1 ) ;  
}
   

#multimedia p{
    font-size:12px ;
    
}